@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";

.ql-editor {
    p {
        font-size: 21px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 28PX;
    }

    &::before {
        font-size: 21px;
        color: #b3b3b1;
    }
}
